header{
    background: #5300C8;
    display: flex;
    width: 100%; 
    justify-content: center;
    
    
}
.log{
    width: 20vh;
    height: 12.5vh;
}
.title{
    font-size: 4vh;
    margin-top: 4vh;    
    font-family: "Chakra Petch",sans-serif;
    color: #E5E5E5;
    
    
}
footer {
    padding: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    background: #5300C8;
    text-align: center;
    color: #E5E5E5;
    /* Estilos adicionales para el footer */
}
.titleFooter{
    display: inline-flex;
    text-align: center;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
}
.dev{
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 3vh;
}