/* @font-face {
    font-family: 'Pixelated';
    src: url('ruta/a/tu/fuente/pixelada.woff2') format('woff2'),
        url('ruta/a/tu/fuente/pixelada.woff') format('woff');
} */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header{
    background: #5300C8;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    
}
.log{
    width: 25vh;
    height: 12.5vh;
    
    
}
.title{
    font-size: 5vh;
    margin-top: 3vh;    
    font-family: "Chakra Petch",sans-serif;
    color: #E5E5E5;
    
}
footer{
    width: 100%;
    text-align: center;
    background: #5300C8;
    
}
.titleFooter{
    display: flex;
}